#add-comment textarea {
    width: 100%;
    height: 100px;
    resize: none;
    overflow: auto;
    word-wrap: normal;
    display: block;
}

.comment {
    display: block;
    color: greenyellow;
    background-color: black;
}

#view-comment {
    display: block;
    background-color: greenyellow;
    position: absolute;
}